@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  padding: 0;
  margin: 0;
  color: rgb(31 41 55);
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right bottom, #9333ea, #3b82f6);
}

::-webkit-scrollbar {
  width: 8px;
  heigth: 0px;
}
